.resourses__logo {
  width: 270px;
  height: 38px;
  filter: brightness(0);
  transition: opacity linear .2s;
}

.resourses__logo:hover {
  opacity: .6;
}

.resourses__logo:active {
  opacity: 1;
  transition: 0s;
}
